* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, main{
    display: flex;
}
body {
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.452);
}
main {
    flex-direction: row;
  }
main {
    flex: auto;
}
article {
    flex: 2;
    background-color: #f7f7f7; /* Adding a light gray background to the article */
    padding: 20px; /* Adding some padding around the article content */
    border: 1px solid #ccc; /* Adding a border around the article */
}
aside {
    flex: 1;
}
article, aside {
    overflow-y: auto;
  }